.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.category-filter {
  margin-bottom: 20px;
  text-align: right;
}

.category-filter label {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.article-list {
  list-style: none;
  padding: 0;
}

.article-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.article-thumbnail img {
  max-width: 100%;
  height: auto;
}

.article-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}

.article-details button {
  margin-right: 20px;
  background-color: rgb(255, 0, 98);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.article-details button:hover {
  background-color: #18a7b9;
}

.add-comment-form input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid #ad5581;
  border-radius: 5px;
}

.add-comment-form button {
  padding: 5px 10px;
  background-color: #4080c4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-comment-form button:hover {
  background-color: #0056b3;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-top: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-item p {
  margin: 0;
}

.comment-item button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.comment-item button:hover {
  background-color: #bb2d3b;
}

.add-article-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-article-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.add-article-form input[type="text"],
.add-article-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid rgb(255, 145, 0);
  border-radius: 5px;
}

.add-article-form button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-article-form button:hover {
  background-color: #0056b3;
}
